<div class="homepageClass">
    <br>
    <h1 mat-header style="color:white; text-align: center;">Welcome to the Game Inventory Center</h1>
    <h2 mat-header style="color:white; text-align: center;">Select a console to continue</h2>
    <br><br>
    <div class="mainpageClass">
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <a mat-button class="xboxButton" routerLink='/xboxpage'>
                    <img src="../../assets/img/xbox-icon.png" height=65%>
                    <h1 mat-header>Xbox One Games</h1>
                </a>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-button class="ps4Button" routerLink='/ps4page'>
                    <img src="../../assets/img/ps4-icon.jpg" height=65%>
                    <h1 mat-header>Playstation 4 Games</h1>
                </button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-button class="pcButton" routerLink='/pcpage'>
                    <img src="../../assets/img/pc-icon.jpg" height=65%>
                    <h1 mat-header>PC Games</h1>
                </button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-button class="nintendoButton" routerLink='/nintendopage'>
                    <img src="../../assets/img/nintendo-icon.png" height=65%>
                    <h1 mat-header>Nintendo Games</h1>
                </button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
</div>

